main header {
    height: 80px;
    background: #15B6E5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nyc-bus {
    font-size: 24px;
    margin: 0;
    margin-left: 30px;
}

header .details {
    font-size: 20px;
    margin: 0;
    margin-right: 30px;
}

main .choose-district {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 33px;
}

.choose-district p {
    font-size: 52px;
    margin: 0;
    margin-right: 25px;
}

.choose-district .dropdown-select {
    display: flex;
    align-items: center;
}

.dropdown-select h2 {
    margin: 0;
    font-size: 52px;
}

main .metric-component {
    padding: 0 30px;
}

.metric-component h3 {
    font-size: 42px;
    margin: 0;
    margin-bottom: 20px;
}

.metric-component .table-chart-holder {
    width: 100%;
}

.table-chart-holder .col-md-6 {
    height: 400px;
}

footer {
    height: 80px;
    background: #15B6E5;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

footer p {
    margin: 0;
    font-size: 24px;
}
