main header {
    height: 80px;
    background: #15B6E5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nyc-bus {
    font-size: 24px;
    margin: 0;
    margin-left: 30px;
}

header .details {
    font-size: 20px;
    margin: 0;
    margin-right: 30px;
}

main .choose-district {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 33px;
}

.choose-district p {
    font-size: 52px;
    margin: 0;
    margin-right: 25px;
}

.choose-district .dropdown-select {
    display: flex;
    align-items: center;
}

.dropdown-select h2 {
    margin: 0;
    font-size: 52px;
}

main .metric-component {
    padding: 0 30px;
    margin-bottom: 50px;
    font-family: 'HelveticaNeue', sans-serif;
}

.metric-component h3 {
    font-size: 42px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.metric-component .table-chart-holder {}

.table-chart-holder .col-md-6 {
    width: 48%;
    height: 515px;
    border: solid 1px #979797;
    margin-bottom: 50px;
    padding: 20px;
}

.table-chart-holder .table-data {
    margin-right: 2%;
}

.table-data table {
    width: 100%;
    border: 1px solid #979797;
}

table th {
    text-align: center;
    border-right: 1px solid #979797;
    font-weight: bold;
    padding: 14px 0;
    color: #333333;
    font-size: 20px;
}

table tr:nth-child(odd) {
    background-color: #D8D8D8;
}

table tr:nth-child(1) {
    background: #fff;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-top: 1px solid #979797;
    border-right: 1px solid #979797;
}

.table-data .note-text {
    margin-top: 5px;
    font-size: 18px;
}

footer {
    height: 80px;
    background: #15B6E5;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

footer p {
    margin: 0;
    font-size: 24px;
}
