.col-md-6 {
    padding: 0;
}

.row {
    margin: 0;
    margin-bottom: 20px;
}

.inside-bar-text {
    fill: #fff;
}

main header {
    height: 80px;
    background: #15B6E5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nyc-bus {
    font-size: 24px;
    margin: 0;
    margin-left: 30px;
}

header .details {
    font-size: 20px;
    margin: 0;
    margin-right: 30px;
}

main .choose-district {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 33px;
}

.choose-district p {
    font-size: 52px;
    margin: 0;
    margin-right: 25px;
}

.choose-district .dropdown-select {
    display: flex;
    align-items: center;
}

.dropdown-select h2 {
    margin: 0;
    font-size: 52px;
}

main .metric-component {
    font-family: 'HelveticaNeue', sans-serif;
}

.metric-component h3 {
    font-size: 52px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.metric-component .chart-component {
    height: 515px;
    overflow-y: scroll;
    border: 1px solid #979797;
}

.chart-component h5 {
    text-align: center;
    font-size: 18px;
}

.metric-component .metric-text {
    margin: 0;
    font-size: 18px;
    font-family: 'HelveticaNeue', sans-serif;
}

main .data {
    padding: 0 30px;
    margin-bottom: 90px;
}

.data .col-md-6 {
    width: 46%;
}

.data .push-right {
    margin-right: 4%;
}

.data .table-chart-holder {
    margin-top: 40px;
    font-family: 'HelveticaNeue', sans-serif;
}

.table-chart-holder h3 {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 20px;
}

.table-chart-holder .table-data {
    padding: 20px;
    border: 1px solid #979797;
}

.table-data table {
    width: 100%;
    border: 1px solid #979797;
}

.table-data table tbody {
    height: 348px;
    overflow-y: scroll;
}

table th {
    text-align: center;
    border-right: 1px solid #979797;
    font-weight: bold;
    padding: 14px 0;
    color: #333333;
    font-size: 20px;
}

table tr:nth-child(odd) {
    background-color: #D8D8D8;
}

table tr:nth-child(1) {
    background: #fff;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-top: 1px solid #979797;
    border-right: 1px solid #979797;
}

.table-data .note-text {
    margin-top: 5px;
    font-size: 18px;
}

footer {
    height: 80px;
    background: #15B6E5;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

footer p {
    margin: 0;
    font-size: 24px;
}

.x-axis path {
    display: none;
}

.x-axis line {
    shape-rendering: crispEdges;
    stroke: #979797;
}

.x-axis .minor line {
    stroke: blue;
    stroke-dasharray: 5, 5;
}

@media (max-width: 1024px) {
    .metric-component h3 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .table-chart-holder .col-md-6 {
        width: 100%;
    }
    .metric-component h3 {
        font-size: 36px;
    }
    .metric-component .metric-text {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .data .push-right {
        margin-right: 0;
    }
    .data .col-md-6 {
        width: inherit;
    }
}
