/* OVERIDE BOOTSTRAP STYLES */

.row {
    margin: 0;
}

.col-md-5,
.col-md-6,
.col-md-7 {
    padding: 0;
}

.navbar-right {
    margin-right: 0;
}


/* OVERIDE BOOTSTRAP STYLES */


/* OVERIDE SELECT2 STYLES */

.select2-container--default .select2-selection--single {
    border: 1px solid #aaa;
}


/* OVERIDE SELECT2 STYLES */


/* UTILITY CLASS // TYPOGRAPHY STYLES // */

* {
    font-family: "MarkWebPro-Bold W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.main-heading {
    font-size: 4.5em;
    font-family: "MarkWebPro-Heavy W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.main-heading .districtName {
    font-family: "MarkWebPro-Heavy W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-heading a {
    font-family: "MarkWebPro-Heavy W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    text-decoration: none;
}

.main-heading a:hover {
    color: #17bee8;
}

.main-heading-card {
    font-size: 3.5em;
}

.sub-heading-card {
    font-family: "MarkWebPro-Bold W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}


/* UTILITY CLASS // TYPOGRAPHY STYLES // */


/* UTILITY CLASS // REUSABLE STYLES // */

.bottom-buffer {
    margin-bottom: 20px;
}

.card {
    background: #fff;
    border: solid 1px #DDDDDD;
    padding: 2% 3%;
}


/* UTILITY CLASS // REUSABLE STYLES // */


/* MAIN STYLES */

body {
    -webkit-print-color-adjust: exact;
}

body.loading {
    overflow: hidden;
}

body.loading .loading-modal {
    display: block;
}

.loading-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
    background: url('images/ripple.gif') 50% 50% no-repeat;
    background-color: #000;
}

main {
    /*    background-image: url(images/cover_background_small.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position-y: 90%;*/
    padding: 1.5% 2%;
}

main .source-link {
    display: none;
}

main header h2 {
    color: #fff;
    margin: 0;
}

.turnaround-heading {
    display: none;
}

.header-dropdown-select {
    bottom: -25px;
}

.print-button-holder {
    display: block;
    margin-top: -9px;
}

.print-button-holder button {
    background: none;
    border: 0;
}

.print-button-holder i {
    color: #333333;
}

.main-component {
    /*display: flex;*/
    display: block;
    margin-top: 2%;
}

.bus-routes-holder {
    width: 100%;
    /*width: 48%;*/
}

.bus-map-holder {
    /*margin-left: 4%;
    width: 48%;*/
    margin-left: 0;
    width: 100%;
}

.report-card h2 {
    line-height: 95%;
    margin-top: 10px;
}

.ways-to-address p {
    font-size: 1.8em;
    font-family: "MarkWebPro-Book W01 Regular", Georgia, "Times New Roman", Times, serif;
}

.ways-to-address ul {
    font-size: 1.8em;
}

.turnaround-campaign-print {
    display: none;
}

.bar-chart-wrapper {
    max-width: 400px;
}

.clickable-g-container {
    cursor: pointer;
}

.ridershipNotes p {
    margin: 0;
    font-size: 12px;
}

footer .logos-holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;
    background: #555555;
}

.logos-holder .logo {
    margin: 3%;
}

footer .logos-holder-print {
    display: none;
}

.copyright {
    text-align: center;
    padding: 1% 0;
    background: #555555;
}

.copyright p {
    color: #fff;
    font-family: "MarkWebPro-Book W01 Regular", Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.inside-bar-text {
    fill: white;
    text-anchor: end;
}

.card-li {
    font-size: 1.6em;
}

.district-map-holder {
    height: 300px;
    box-shadow: 0 3px 18px #ccc;
}

.district-map {
    height: 100%;
    width: 100%;
    display: block;
}



.district-map-static-wrapper {
    display: none;
}

div.cartodb-tooltip-content p {
    font-size: 20px !important;
    font-weight: bold !important;
}


/* STYLES FOR INFOWINDOW */

div.cartodb-popup p {
    font-family: "MarkWebPro-Bold W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.cartodb-popup div.cartodb-popup-content-wrapper {
    width: 100%;
    max-width: 100%;
}

div.cartodb-popup div.cartodb-popup-content h3 {
    color: #555555;
    font-family: "MarkWebPro-Heavy W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #555555;
    margin-bottom: 8px;
}

div.cartodb-popup div.cartodb-popup-content h4 {
    color: #777777;
    font-family: "MarkWebPro-Heavy W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}

div.cartodb-popup div.cartodb-popup-content p {
    color: #333333;
}


/* STYLES FOR INFOWINDOW */


/* MAIN STYLES */


/* MEDIA QUERIES */

@media (max-width: 768px) {
    .col-md-offset-1 {
        margin-left: 0;
    }
    .ways-to-address {
        margin-bottom: 3%;
    }
    .main-component {
        display: block;
        margin-top: 10%;
    }
    .bus-routes-holder {
        width: 100%;
    }
    .bus-map-holder {
        margin-left: 0;
        width: 100%;
    }
    .navbar-right {
        float: none !important;
    }
    .header-title h2 {
        margin-bottom: 3%;
    }
    .selectDistrict {
        font-size: 0.65em;
        color: #333333;
    }
    .print-button-holder {
        display: none;
    }
}

@media (max-width: 425px) {
    .main-heading {
        font-size: 3.5em;
    }
    .main-heading-card {
        font-size: 2.5em;
    }
    .sub-heading-card {
        font-size: 1em;
    }
}

@media (min-width: 87em) {
    main, footer {
        width: 72%;
    }
    .district-map-holder {
        position: fixed;
        width: 28%;
        height: 100%;
        top: 0;
        right: 0;
        box-shadow: 3px 3px 18px #ccc;
    }
    .toggle-district-map {
        display: none;
    }
}





/* MEDIA QUERIES */


/* PRINT MEDIA QUERY */

@media print {
    body {
        color: #000;
        background: #fff;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    @page {
        margin: 2cm;
    }
    img {
        max-width: 100% !important;
    }
    header,
    .sub-heading-card,
    .methodsLink,
    .leaflet-bottom,
    .cartodb-logo,
    div.cartodb-popup,
    .district-map,
    .logos-holder,
    .copyright,
    .turnaround-campaign-web,
    .district-map-holder {
        display: none !important;
    }
    main {
        padding: 0% 2%;
    }
    main .source-link {
        display: flex;
        justify-content: center;
    }
    .source-link a {
        color: #17BEE8;
        text-decoration: underline;
    }
    .main-heading {
        text-align: center;
        font-size: 2em;
    }
    .main-heading-card {
        font-size: 1.8em;
    }
    .turnaround-heading {
        display: inline-block;
    }
    .card {
        border: none;
        padding: 0;
    }
    .turnaround-campaign-print {
        display: block;
        margin-top: 1%;
        font-family: "MarkWebPro-Book W01 Regular", Georgia, "Times New Roman", Times, serif;
        font-size: 1.1em;
        margin-bottom: 1%;
    }
    /*    footer {
        display: block;
        margin-top: 20px;
    }*/
    footer .logos-holder-print {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        -webkit-print-color-adjust: exact;
        background-color: #555555 !important;
    }
    .logos-holder-print .logo {
        max-width: 18%;
        margin: 2%;
    }
    .text-left-print {
        margin-right: 4%;
    }
    .ways-to-address p,
    .ways-to-address ul {
        font-size: 1.1em;
    }
    .district-map-static-wrapper {
        display: block;
    }
    .district-name-static-map {
        margin-top: 2px;
    }
    .district-map-static {
        border: 1px #ccc solid;
    }
    .address-list-static-map {
        display: flex;
    }
    .address-list-static-map .text-left-print,
    .address-list-static-map .district-map-static-wrapper {
        flex-basis: 46%;
    }
    .bus-routes-row {
        display: block;
        margin-left: 0;
        width: 100%;
    }
    .riders-row {
        display: inline-block;
    }
    .average-speed-row {
        display: inline-block;
        margin-left: 0;
        width: 49%;
    }
    .average-bunching-row {
        display: inline-block;
    }
    .bus-routes-bars .col-md-6,
    .bus-routes-bars .col-sm-12 {
        width: 48%;
        margin-right: 2%;
        float: left;
    }
    .col-sm-12.col-md-7 {
        width: 58.33333333%;
    }
    .col-sm-12.col-md-5 {
        width: 100%;
    }
    .main-component {
        display: block;
        margin-top: 1%;
    }
    .bus-routes-holder {
        width: 100%;
    }
    .bus-map-holder {
        margin-left: 0;
        width: 100%;
    }
    .bottom-buffer {
        margin-bottom: 10px;
    }
}
