/*!
 * Main css for TransitCenter Public Website
 */

html, body {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}

h1 {
  font-weight: 700;
  font-size: 62px;  
  line-height: 62px;
}
h2 {
  font-weight: 700;
  font-size: 30px;  
  line-height: 36px;  
}
h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;    
  text-transform: uppercase;
}
h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;      
}
p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;        
}
.label {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px; 
  text-transform: uppercase; 
  color: #333;      
}
a {
   -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar-custom-static-top {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}
@media (min-width: 850px) {
  .navbar-custom-static-top {
    display: block;
  }
}
.navbar-custom-static-top>.container-fluid .navbar-right {
  margin: 15px 0 0 0;
}
.navbar-custom-static-top .navbar-brand {
  color: #fff;
}
.navbar-custom-static-top .navbar-brand:hover,
.navbar-custom-static-top .navbar-brand:focus,
.navbar-custom-static-top .navbar-brand:active {
  color: #fff;
}
.navbar-custom-static-top .nav li a {
  color: #fff;
}
.navbar-custom-static-top .nav li a:hover {
  color: #333;
  outline: none;
  background-color: transparent;
}
.navbar-custom-static-top .nav li a:focus,
.navbar-custom-static-top .nav li a:active {
  color: #fff;
  outline: none;
  background-color: transparent;
}
.navbar-custom-static-top .nav li.active {
  color: #fff;
  outline: none;
}
.navbar-custom-static-top .nav li.active a {
  color: #fff;
  background-color: transparent;
}
.navbar-custom-static-top .nav li.active a:hover {
  color: #333;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #17BEE8;
}
.navbar-custom .navbar-brand {
  color: #fff;
  padding: 5px 15px;
}
@media (min-width: 768px) {
  .navbar-custom .navbar-brand {
    padding: 15px 15px;
  }
}
.navbar-custom .navbar-brand:hover {
  color: #333;
}
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active {
  color: #fff;
}
.navbar-custom .navbar-toggle {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .nav li a {
  color: #fff;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: #333;
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  color: #333;
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  color: #333;
  outline: none;
}
.navbar-custom .nav li.active a {
  color: #333;
  background-color: transparent;
}
.navbar-custom .nav li.active a:hover {
  color: #333;
}
@media (min-width: 850px) {
  .navbar-custom {
    pointer-events: none;
    opacity: 0;
    padding: 20px 0;
    border-bottom: none;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    pointer-events: auto;
    opacity: 1;
    padding: 0;
    background: #17BEE8;
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  background-image: url(images/cover_background_small.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom center;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 1200px) {
  .intro {
    background-position: 50% 75%;
  }
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .card {
  width: 100%;
  height: auto;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(49, 46, 42, 0.2), 0px 0px 15px rgba(119, 113, 106, 0.53);
  background-color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 70px; 
  }
  .intro .intro-body .brand-heading-small {
    font-size: 50px;
    display:inline;
    background: rgb(150, 150, 150); 
    background: rgba(150, 150, 150, .9);
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
    line-height: 1.19;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #333;
  border-radius: 100% !important;
  font-size: 40px;
  color: #333;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: #333;
  background: rgba(255, 255, 255, 0.3);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.resources-section {
  padding-top: 100px;
}
.ride-section {
  width: 100%;
  height: 100vh;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.pick-section {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: rgba(255,189,23,0.5)
}
.report-card-section {
  width: 100%;
  padding: 50px 0;  
}
@media (min-width: 767px) {
  .resources-section {
    padding-top: 250px;
  }
  .pick-section {
    padding: 100px 0;
  }
  .report-card-section {
    padding: 100px 0;
  }
}
.ride-section .ride-translate-wrapper {
  height: 100%;
  position: relative;
}
.ride-section .ride-img-wrap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}
.ride-section .ride-img {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom center;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; 
}
#map_1_a {
  background-image: url(images/map_1_a.png);
}
#map_1_b {
  background-image: url(images/map_1_b.png);
}
#map_2_a {
  background-image: url(images/map_2_a.png);
}
#map_2_b {
  background-image: url(images/map_2_b.png);
}
#map_3_a {
  background-image: url(images/map_3_a.png);
}
#map_3_b {
  background-image: url(images/map_3_b.png);
}
.ride-section .card {
  width: 100%;
  height: auto;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(49, 46, 42, 0.2), 0px 0px 15px rgba(119, 113, 106, 0.53);
  background-color: #fff;
}
.ride-section .dot-wrapper {
  position: relative;
}
.ride-section .dot {
  color: #17BEE8;
}
#dot_1_a {
  position: absolute;
  top: 30vh;
  left: 20%;
}
#dot_3_a {
  position: absolute;
  top: 25vh;
  right: 20%;
}
#dot_3_b {
  position: absolute;
  top: 15vh;
  right: 25%;
}

.btn {
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

/* Picture books */
.picture-book {
  z-index: 2;
  position: relative;
  margin: 5em auto;
  border-top: solid 1px rgba(0, 0, 0, 0);
  border-bottom: solid 1px rgba(0, 0, 0, 0);
}
.picture-book-bg {
  position: absolute;
  top: 0;
  z-index: -1;
}
.picture-book-bg-fixed {
  position: fixed;
  top: 0;
}
.picture-book-bg-bottom {
  position: absolute;
  bottom: 0;
  top: auto;
}
.picture-book-img-wrap {
  width: 100%;
}
.picture-book-img {
  width: 100%;
  height: auto;
}
.picture-book-page {
  margin-bottom: 60vh;
  padding-top: 10vh;
}
.picture-book-page.first-ride {
  padding-top: 50vh;
}
.picture-book-position-text-vertical {
  padding-top: 0;
  font-size: 14px;
}
.arrows {
  display: none;
}
@media (min-width: 767px) {
  .picture-book-position-text-vertical {
    padding-top: 50px;
    font-size: 18px;
  }
  .arrows {
    display: block;
  }
}
.full-width-card {
  width: 100%;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(49, 46, 42, 0.2), 0px 0px 15px rgba(119, 113, 106, 0.53);
  background-color: rgba(255, 255, 255, 0.9);
}

/* Report Card */
.route-map {
  margin-top: 0;
  height: auto;
  box-shadow: 0px 2px 4px rgba(49, 46, 42, 0.2), 0px 0px 15px rgba(119, 113, 106, 0.53);
  background-color: rgb(205,210,212);
}
.report-card-card {
  width: 100%;
  height: auto;
  min-height: 32vh;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 0px;
  box-shadow: 0px 2px 4px rgba(49, 46, 42, 0.2), 0px 0px 15px rgba(119, 113, 106, 0.53);
  background-color: rgba(255, 255, 255, 0.9);
}
.report-card-text {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 20px;
  color: #333;
}
.speed-gauge g.arc {
  fill: steelblue;
}
.speed-gauge g.pointer {
  fill: #aaa;
  stroke: #777;
}
.speed-gauge g.label text {
  text-anchor: middle;
  font-size: 12px;
  font-weight: bold;
  fill: #333;
}
.delay-bar {
  margin-top: 50px;
}
/* generic margins and padding */
.margin-top-5vh {
  margin-top: 10px;
}
.margin-top-10vh {
  margin-top: 10px;
}
.margin-top-12vh {
  margin-top: 10px;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-left-20 {
  margin-left: 0;
}
@media (min-width: 767px) {
  .margin-top-5vh {
    margin-top: 5vh;
  }
  .margin-top-10vh {
    margin-top: 10vh;
  }
  .margin-top-12vh {
    margin-top: 12vh;
  }
  .margin-left-20 {
    margin-left: 20px;
  }
}
.btn-facebook {
  font-weight: bold;
  color: #e8e8e8;
  background-color: #3b5998;
  border-color: #3b5998;
  border-radius: 2px;
  height: 50px;
  padding: 11px 12px 11px 13px;
  margin-right: 10px;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook.focus,
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  color: #e8e8e8;
  background-color: #22407F;
  border-color: #22407F;
}
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled.focus,
.btn-facebook[disabled].focus,
fieldset[disabled] .btn-facebook.focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #adaeb0;
  border-color: #adaeb0;
}
.btn-facebook .badge {
  color: #337ab7;
  background-color: #ffffff;
}


.btn-twitter {
  font-weight: bold;
  color: #e8e8e8;
  background-color: #4099ff;
  border-color: #4099ff;
  border-radius: 2px;
  height: 50px;
  padding: 11px 12px;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter.focus,
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
  color: #e8e8e8;
  background-color: #2780E6;
  border-color: #2780E6;
}
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
  background-image: none;
}
.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled.focus,
.btn-twitter[disabled].focus,
fieldset[disabled] .btn-twitter.focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
  background-color: #adaeb0;
  border-color: #adaeb0;
}
.btn-twitter .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.shareOn {
  padding-right: 5px;
  display: inline;
  vertical-align: super;
}
