{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/vendor/css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/vendor/css/select2.css' %}">
	{% block css_block %}
	{% endblock %}
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	  <script type="text/javascript" src="{% static 'website/vendor/js/jquery-1.12.4.min.js' %}"></script>

  {% block head_js_block %}
  {% endblock %}
		
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-custom-static-top">

  <!-- Facebook Async SDK -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1581540325487727',
        xfbml      : true,
        version    : 'v2.7'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

	{% block body_block %}
	{% endblock %}


	{% block modal_block %}
	{% endblock %}
	
    <!--  javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="{% static 'website/vendor/js/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script type="text/javascript" src="{% static 'website/vendor/js/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'website/vendor/js/d3.min.js' %}"></script>
	{% block js_block %}
	{% endblock %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61309035-4', 'auto');
    ga('send', 'pageview');

  </script>
  </body>
</html>
