{% extends 'website/base.html' %} {% load staticfiles %} {% block title %}| District Level Analysis{% endblock %} {% block css_block %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
<link rel="stylesheet" type="text/css" href="{% static 'website/css/district-2-0.css' %}"> {% endblock %} {% block head_js_block %} {% endblock %} {% block body_block %}
<div class="district-map-holder">
    <div id='district-map' class='district-map'></div>
    {% comment %} <button class="toggle-city">
        <img src="{% static 'website/css/images/city-icon.svg' %}" height="40px">
    </button> {% endcomment %}
    {% comment %} <div class="legends-holder">
        <div class="legend">
            <div class="title">
                <p>Legend</p>
            </div>
            <div class="range">
                <p>Bus Routes</p><span style="background: #005777"></span>
            </div>
            <div class="range">
                <p>District Boundaries</p><span style="background: #FF6600"></span>
            </div>
        </div>
    </div> {% endcomment %}
</div>
<main>
    <div class="container-fluid">
        <div class="odd row">
            <div class="report-card card bottom-buffer col-md-10 col-md-offset-1">
                <h2 class="main-heading margin-bottom">
                    <span class="districtName"></span>
                    <span class="source-link"><br /><a href="#">busturnaround.nyc</a>
                    </span>
                </h2>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="main-heading-card">Overall Grade</h2>
                        <div class="os-card-container os-card-final-grade">
                            <div id="os-js-final-grade" class="os-card" data-rating="C">
                                <div class="os-card-rating">
                                    <span>C</span>
                                </div>
                            </div>
                            <p>
                                Worse than <span>81%</span> of <span>State Senate Districts</span>
                                <br />
                                <span class="methodsLink"><a href="#" data-toggle="modal" data-target="#methods">Methodology</a></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="main-heading-card">
                            <span data-toggle="tooltip" data-placement="top" title="Total number of bus routes that cross the district.">
                                <span id="busRoutes">0</span> bus routes
                            </span> 
                        </h2>
                        <h2 class="main-heading-card">
                            <span data-toggle="tooltip" data-placement="top" title="Total 2017 weekday ridership of all routes crossing this district.">
                                <span id="totalRidership">0</span> weekday riders
                            </span>
                        </h2>
                        <h2 class="main-heading-card">
                            <span id="ridershipChange">0</span>% ridership <span id="ridershipIncreaseOrDecrease">increase</span>
                        </h2>
                        <br />
                        <h3>
                            See different Report Card
                        </h3>
                        <h3 class="header-dropdown-select">
                            <select id="selectDistrict" class="selectDistrict">
                                <option value="senate">State Senate District</option>
                                <option value="assembly">State Assembly District</option>
                                <option value="council">City Council District</option>
                                <option value="board">Community Board District</option>
                            </select>
                            <select id="number" class="selectDistrict">
                            </select>
                        </h3>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="even row">
            <div class="report-card card top-buffer bottom-buffer col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="main-heading-card">Average Speed</h2>
                        <div class="os-card-container os-card-final-grade row">
                            <div id="os-js-final-grade" class="os-card small" data-rating="B">
                                <div class="os-card-rating small">
                                    <span>B</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h2 class="main-heading-card heavy"><span id="avgSpeedWeighted">0</span> mph</h2>
                            <p>
                                <strong>which is worse than <span>78%</span> of NYC buses</strong>
                            </p>
                            <p><strong>Slowest routes</strong></p>
                            <div class="bar-chart-wrapper">
                                <div id="slowest"></div>
                            </div>                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="main-heading-card">Reliability</h2>
                        <div class="os-card-container os-card-final-grade row">
                            <div id="os-js-final-grade" class="os-card small" data-rating="D">
                                <div class="os-card-rating small">
                                    <span>D</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="main-heading-card heavy"><span id="avgBunchingWeightedPct">0</span>%</h2>
                                <p>
                                    <strong>of high-frequency routes bunched</strong>
                                </p>
                                <p><strong>Routes with most bunching</strong></p>
                                <div class="bar-chart-wrapper">
                                    <div id="mostBunching"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2 class="main-heading-card heavy"><span id="avgOnTimePct">0</span>%</h2>
                                <p>
                                    <strong>of low-frequency routes were on-time</strong>
                                </p>
                                <p><strong>Average on-time performance</strong></p>
                                <div class="bar-chart-wrapper">
                                    <div id="onTime"></div>
                                </div>
                            </div>
                            
                        </div>                        
                    </div>
                </div>
                <hr />
            </div>
        </div>

        <div class="even row">
            <div class="report-card card bottom-buffer col-md-10 col-md-offset-1">
                <div class="row">
                    <h2 class="main-heading-card">District Bus Statistics</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">               
                        <p><strong>Highest ridership</strong></p>
                        <div id="ridership-table"></div>
                        <div id="ridershipNotes" class="ridershipNotes"></div>                        
                    </div>
                    <div class="col-md-6">
                        <p><strong>Fastest Growing Ridership</strong></p>
                        <div id="changing-ridership" class="changing-ridership"></div>
                        <div id="noneGrowing"></div>
                        <div id="fastestGrowingRidershipNotes" class="ridershipNotes"></div>
                    </div>
                </div>
                <hr />
            </div>
        </div>

        <div class="odd row">
            <div class="report-card card top-buffer bigger-bottom-buffer col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a id="showShareFB" class="btn btn-facebook routeLink margin-5" href="#" role="button" onclick="#"><span class="shareOn">Share on </span><i class="fa fa-facebook-official fa-2x"></i></a>
                        <a id="showShareTwitter" class="btn btn-twitter routeLink margin-5" href="#" role="button" onclick="#"><span class="shareOn">Share on </span><i class="fa fa-twitter fa-2x"></i></a>
                        <a class="btn btn-primary routeLink margin-5" id="individual_report_card" href="/"  role="button"><span class="shareOn">Want to see your route? </span><i class="fa fa-bus fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="logos-holder">
        <div class="logo">
            <a href="http://transitcenter.org/"><img class="img-responsive center-block" src="{% static 'website/css/images/tc_logo.png' %}" /></a>
        </div>
        <div class="logo">
            <a href="http://www.ridersny.org/"><img class="img-responsive center-block" src="{% static 'website/css/images/ra_logo.png' %}" /></a>
        </div>
        <div class="logo">
            <a href="http://tstc.org/"><img class="img-responsive center-block" src="{% static 'website/css/images/tstc_logo.png' %}" /></a>
        </div>
        <div class="logo">
            <a href="http://www.straphangers.org/"><img class="img-responsive center-block" src="{% static 'website/css/images/pirg_logo.png' %}" /></a>
        </div>
    </div>
    <div class="logos-holder-print">
        <div class="logo">
            <img class="img-responsive center-block" src="{% static 'website/css/images/tc_logo.png' %}" />
        </div>
        <div class="logo">
            <img class="img-responsive center-block" src="{% static 'website/css/images/ra_logo.png' %}" />
        </div>
        <div class="logo">
            <img class="img-responsive center-block" src="{% static 'website/css/images/tstc_logo.png' %}" />
        </div>
        <div class="logo">
            <img class="img-responsive center-block" src="{% static 'website/css/images/pirg_logo.png' %}" />
        </div>
    </div>
    <div class="copyright">
        <p>Copyright &copy;
            <a href="http://transitcenter.org/">TransitCenter</a> {% now "Y" %}
        </p>
    </div>
</footer>
{% endblock %} {% block modal_block %}
<div class="modal fade" id="methods" tabindex="-1" role="dialog" aria-labelledby="methodsTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i></span></button>
                <h4 class="modal-title" id="methodsTitle">Methodology</h4>
            </div>
            <div class="modal-body">
                <p>Bunching data are calculated as an average of performance during weekdays between the hours of 10am-4pm, for the months of May and October 2017. These two months are selected because they contain minimal holidays, mild weather (minimizing service disruptions), and fall during the school year.</p>
                <p><em>Bunching</em> is defined as the percentage of buses that arrive at less than 25 percent of the scheduled interval behind the previous bus. So if Bus #2 is scheduled to arrive eight minutes after Bus #1, but instead Bus #2 arrives less than two minutes after Bus #1, then Bus #2 is considered "bunched". Bus arrival and departure times are estimated using an algorithm developed by Nathan Johnson and Neil Freeman, and applied to the MTA's Bus Time data. More information about Bus Time data is <a href="http://bustime.mta.info/wiki/Developers/GTFSRt">available here</a>. </p>
                <p><em>Speed</em> is calculated using the same Bus Time data in conjunction with route length information gathered from the MTA's publicly provided GTFS schedules. As presented here at the route level, the travel time from start to finish is simply divided by the route's length to calculate average speed. More details available in the <a href="http://api.busturnaround.nyc/">performance API documentation</a>. </p>
                <p><em>Ridership</em> data are for the average weekday in 2016, as <a href="http://web.mta.info/nyct/facts/ridership/">reported by MTA New York City Transit here</a>. </p>
                <p><em>Change in ridership</em> data show change in the average weekday ridership from 2010 to 2016. Routes Q50 and Bx23 have been removed from the change in ridership analysis as they were re-introduced in September 2014 to replace the QBx1 and did not have a complete year of ridership data in 2010.</p>
                <p>For more information or for access to archival Bus Time data, please email <a href="mailto:info@busturnaround.nyc">info@busturnaround.nyc</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js_block %}
<script type="text/javascript" src="{% static 'website/vendor/js/decimal.min.js' %}"></script>
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script type="text/javascript" src="{% static 'website/js/district_app_2_0.js' %}"></script>
<script type="text/javascript">
$("body").addClass("loading");
var district = '{{ district }}';
window.onload = app.init;
</script>
{% endblock %}
