{% extends 'website/base.html' %} {% load staticfiles %} {% block title %}| District Level Analysis{% endblock %} {% block css_block %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/css/sortable-theme-bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'website/css/district_detail.css' %}">
<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" /> {% endblock %} {% block head_js_block %} {% endblock %} {% block body_block %}
<main>
    <header>
        <p class="nyc-bus">NYC Bus Turnaround</p>
        <p class="details">DETAILS</p>
    </header>
    <div class="choose-district">
        <p>Details For</p>
        <div class="dropdown-select">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <h2 class="text-center">
                        <select id="selectDistrict" class="selectDistrict">
                            <option value="senate">State Senate District</option>
                            <option value="assembly">State Assembly District</option>
                            <option value="council">City Council District</option>
                            <option value="board">Community Board District</option>
                          </select>
                          <select id="number" class="selectDistrict">
                          </select>
                    </h2>
                </li>
            </ul>
        </div>
    </div>
    <div class="data">
        <div class="row">
            <div class="metric-component col-md-6 col-sm-12">
                <div class="chart-parent">
                    <h3>Ridership</h3>
                    <div class="chart-component">
                        <h5>Average Weekly Ridership by Route*</h5>
                        <div id="ridership"></div>
                    </div>
                    <p class="metric-text">*Notes on ridership data. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                </div>
            </div>
            <div class="metric-component col-md-6 col-sm-12">
                <div class="chart-parent push-right">
                    <h3>Ridership Change</h3>
                    <div class="chart-component">
                        <h5>Change in Average Weekly Ridership (2010-2015) by Route</h5>
                        <div id="ridershipChange"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="metric-component col-md-6 col-sm-12">
                <div class="chart-parent">
                    <h3>Bunching</h3>
                    <div class="chart-component">
                        <h5>Percent Buses Bunched by Route*</h5>
                        <div id="bunching"></div>
                    </div>
                    <p class="metric-text">*Notes on bunching data. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
            <div class="metric-component col-md-6 col-sm-12">
                <div class="chart-parent push-right">
                    <h3>Speed</h3>
                    <div class="chart-component">
                        <h5>Average Speed by Route*</h5>
                        <div id="speed"></div>
                    </div>
                    <p class="metric-text">*Notes on speed data. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
        </div>
        <div class="table-chart-holder">
            <h3>Data Table</h3>
            <div class="table-data"></div>
        </div>
    </div>
</main>
<footer>
    <p>Copyright &copy; TransitCenter 2016</p>
</footer>
{% endblock %} {% block modal_block %} {% endblock %} {% block js_block %}
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.min.js'></script>
<script type="text/javascript" src="{% static 'website/vendor/js/jquery.stickytableheaders.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/district_detail_app.js' %}"></script>
<script type="text/javascript">
// $("body").addClass("loading");
var district = '{{ district }}';
window.onload = app.init;
</script>
{% endblock %}
