{% extends 'website/base.html' %} {% load staticfiles %} {% block title %}| District Level Analysis{% endblock %} {% block css_block %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
<link rel="stylesheet" type="text/css" href="{% static 'website/css/district.css' %}"> {% endblock %} {% block head_js_block %} {% endblock %} {% block body_block %}
<div class="district-map-holder">
    <div id='district-map' class='district-map'></div>
    <button class="toggle-city">
        <img src="{% static 'website/css/images/city-icon.svg' %}" height="40px">
    </button>
</div>
<main>
    <header class="row">
        <div class="header-title col-md-5">
            <h2 class="main-heading">
            <a href="/">Turnaround</a></h2>
        </div>
        <div class="header-dropdown-select col-md-7">
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <h3 class="text-center">
                          <select id="selectDistrict" class="selectDistrict">
                            <option value="senate">State Senate District</option>
                            <option value="assembly">State Assembly District</option>
                            <option value="council">City Council District</option>
                            <option value="board">Community Board District</option>
                          </select>
                          <select id="number" class="selectDistrict">
                          </select>
                      </h3>
                    </li>
                    <li>
                        <div class="print-button-holder">
                            <button data-toggle='tooltip' title="Print this page" data-placement="bottom">
                                <a href="javascript:window.print()"> <i class="fa fa-print fa-3x" aria-hidden='true'></i></a>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main-component">
        <div class="bus-routes-holder">
            <div class="report-card card bottom-buffer">
                <h2 class="main-heading margin-bottom">
                    Report Card for <span class="districtName"></span>
                    <span class="source-link"><br /><a href="#">busturnaround.nyc</a>
                    </span>
                </h2>
                <div class="bus-routes-row row">
                    <h2 class="main-heading-card"><span data-toggle="tooltip" data-placement="top" title="Total number of bus routes that cross the district."><span id="busRoutes">0</span> <small>bus routes</span> with </small><span data-toggle="tooltip" data-placement="top" title="Total 2015 weekday ridership of all routes crossing this district."><span id="totalRidership">0</span> <small>total weekday riders</small></span></h2>
                    <!-- <div class="col-sm-12 col-md-7">
                        <h2 class="main-heading-card" data-toggle="tooltip" data-placement="top" title="Percentage of all people in the district who are in poverty."><span id="percentPoverty">0</span>% <small>poverty rate</small></h2>
                    </div> -->
                </div>
                <div class="bus-routes-graphs row">
                    <div class="bus-routes-bars">
                        <div class="bus-routes-bars row">
                            <div class="col-md-6 col-sm-12">
                                <h2 class="main-heading-card" data-toggle="tooltip" data-placement="top" title="The average speed of each bus route that crosses this district weighted by ridership."><small>Average speed of</small> <span id="avgSpeedWeighted">0</span> <small>mph</small></h2>
                                <div class="color-key-wrapper">
                                    <div id="speed-gauge" class="speed-gauge"></div>
                                </div>
                                <h4 data-toggle="tooltip" data-placement="top" title="Slowest 3 bus routes in the district.">Slowest</h4>
                                <div class="bar-chart-wrapper">
                                    <div id="slowest"></div>
                                </div>
                                <hr />
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h2 class="main-heading-card" data-toggle="tooltip" data-placement="top" title="The average percentage of buses on routes that cross this district that arrive at less than 25 percent of the scheduled interval behind the previous bus."><small>Average bunching of</small> <span id="avgBunchingWeighted">0</span> <small>%</small></h2>
                                <div id="bunching-bar" class="bunching-bar">
                                    <div class="color-ramp-horizontal-bar">
                                        <div id="district-average-vertical-container" class="district-average-vertical-container">
                                            <p>0%</p>
                                            <div class="district-average-vertical"></div>
                                        </div>
                                        <div class="borough-average-vertical-container">
                                            <div class="borough-average-vertical"></div>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <h4 data-toggle="tooltip" data-placement="top" title="Top 3 routes with the highest percentage of buses that arrive at less than 25 percent of the scheduled interval behind the previous bus in the district.">Most Bunching</h4>
                                <div class="bar-chart-wrapper">
                                    <div id="mostBunching"></div>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div class="bus-routes-bars row">
                            <div class="col-md-6 col-sm-12">
                                <h4 data-toggle="tooltip" data-placement="top" title="Top 3 highest ridership routes in this district.">Highest Ridership</h4>
                                <div class="bar-chart-wrapper">
                                    <div id="ridership"></div>
                                    <div id="ridershipNotes" class="ridershipNotes"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h4 data-toggle="tooltip" data-placement="top" title="Top 3 routes with the highest growth in ridership in this district from 2010-2015.">Fastest Growing Ridership</h4>
                                <div class="bar-chart-wrapper">
                                    <div id="fastestGrowing"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <span class="methodsLink"><a href="#" data-toggle="modal" data-target="#methods">Methodology</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bus-map-holder">
            <div class="ways-to-address card bottom-buffer">
                <div class="address-list-static-map">
                    <div class="text-left-print">
                        <p> Everyday, New Yorkers take 2.5 million rides on the city's buses. These buses are slow, unreliable, and unfortunately getting worse. It doesn't have to be this way! Ways to improve our buses now:
                        </p>
                        <ul>
                            <li>Add more bus lanes with effective enforcement</li>
                            <li>Speed up boarding with tap and go payment at all doors</li>
                            <li>Give buses priority at traffic lights</li>
                        </ul>
                        <p class="turnaround-campaign-web">
                            <span class="empahasize-text">The Bus Turnaround Coalition</span> is a group of diverse New Yorkers determined to turn around the poor service that plagues the city’s bus system and the 2.5 million rides taken on it every weekday. We are winning increased attention from our leaders and greater resources for high quality, fast and reliable bus service for all neighborhoods in New York City.
                        </p>
                    </div>
                    <div class='district-map-static-wrapper'>
                        <h4 class="district-name-static-map">Routes in <span class="districtName"></span></h4>
                        <div id='district-map-static' class='district-map-static'></div>
                    </div>
                </div>
                <div class="turnaround-campaign-print">
                    <span class="empahasize-text">The Bus Turnaround Coalition</span> is a group of diverse New Yorkers determined to turn around the poor service that plagues the city’s bus system and the 2.5 million rides taken on it every weekday. We are winning increased attention from our leaders and greater resources for high quality, fast and reliable bus service for all neighborhoods in New York City.
                </div>
            </div>
            {% verbatim %}
            <script type="infowindow/html" id="infowindow_template">
                <div class="cartodb-popup">
                    <a href="#close" class="cartodb-popup-close-button close">x</a>
                    <div class="cartodb-popup-content-wrapper">
                        <div class="cartodb-popup-content">
                            <h3>{{content.data.route_id}}</h3>
                            <h4>Speed</h4>
                            <p>{{content.data.speed}} mph</p>
                            <h4>Bunching</h4>
                            <p>{{content.data.prop_bunched}}%</p>
                            <h4>Ridership</h4>
                            <p>{{content.data.year_2015}} ({{content.data.prop_change_2010_2015}}%)</p>
                            <a href="http://busturnaround.nyc/?route={{content.data.route_id}}">Route Report Card</a>
                        </div>
                    </div>
                    <div class="cartodb-popup-tip-container"></div>
                </div>
            </script>
            {% endverbatim %}
        </div>
    </div>
</main>
<footer>
    <div class="logos-holder">
        <div class="logo">
            <a href="http://transitcenter.org/"><img class="img-responsive center-block" src="{% static 'website/css/images/tc_logo.png' %}" /></a>
        </div>
        <div class="logo">
            <a href="http://www.ridersny.org/"><img class="img-responsive center-block" src="{% static 'website/css/images/ra_logo.png' %}" /></a>
        </div>
        <div class="logo">
            <a href="http://tstc.org/"><img class="img-responsive center-block" src="{% static 'website/css/images/tstc_logo.png' %}" /></a>
        </div>
        <div class="logo">
            <a href="http://www.straphangers.org/"><img class="img-responsive center-block" src="{% static 'website/css/images/pirg_logo.png' %}" /></a>
        </div>
    </div>
    <div class="logos-holder-print">
        <div class="logo">
            <img class="img-responsive center-block" src="{% static 'website/css/images/tc_logo.png' %}" />
        </div>
        <div class="logo">
            <img class="img-responsive center-block" src="{% static 'website/css/images/ra_logo.png' %}" />
        </div>
        <div class="logo">
            <img class="img-responsive center-block" src="{% static 'website/css/images/tstc_logo.png' %}" />
        </div>
        <div class="logo">
            <img class="img-responsive center-block" src="{% static 'website/css/images/pirg_logo.png' %}" />
        </div>
    </div>
    <div class="copyright">
        <p>Copyright &copy;
            <a href="http://transitcenter.org/">TransitCenter</a> {% now "Y" %}
        </p>
    </div>
</footer>
{% endblock %} {% block modal_block %}
<div class="modal fade" id="methods" tabindex="-1" role="dialog" aria-labelledby="methodsTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i></span></button>
                <h4 class="modal-title" id="methodsTitle">Methodology</h4>
            </div>
            <div class="modal-body">
                <p>Bunching data are calculated as an average of performance during weekdays between the hours of 10am-4pm, for the months of October 2015 and May 2016. These two months are selected because they contain minimal holidays, mild weather (minimizing service disruptions), and fall during the school year. Speed data are calculated for October 2015 only.</p>
                <p><em>Bunching</em> is defined as the percentage of buses that arrive at less than 25 percent of the scheduled interval behind the previous bus. So if Bus #2 is scheduled to arrive eight minutes after Bus #1, but instead Bus #2 arrives less than two minutes after Bus #1, then Bus #2 is considered "bunched". Bus arrival and departure times are estimated using an algorithm developed by Nathan Johnson and applied to the MTA's Bus Time data. More information about Bus Time data is <a href="http://bustime.mta.info/wiki/Developers/OneBusAwayRESTfulAPI">available here</a>. </p>
                <p><em>Speed</em> is calculated using the same Bus Time data in conjunction with route length information gathered from the MTA's publicly provided GTFS schedules. As presented here at the route level, the travel time from start to finish is simply divided by the route's length to calculate average speed. More details available in the <a href="http://busdataapi1.cloudapp.net/about">performance API documentation</a>. </p>
                <p><em>Ridership</em> data are for the average weekday in 2015, as <a href="http://web.mta.info/nyct/facts/ridership/">reported by MTA New York City Transit here</a>. </p>
                <p>More information, including access to arrival data via an API developed by Nathan Johnson and Kuan Butts, <a href="http://bus-data-nyc.github.io/">is available here</a>. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js_block %}
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script type="text/javascript" src="{% static 'website/js/district_app.js' %}"></script>
<script type="text/javascript">
$("body").addClass("loading");
var district = '{{ district }}';
window.onload = app.init;
</script>
{% endblock %}
