{% load staticfiles %}

<!-- Navigation -->
<nav id="fixedNav" class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a id="clickPageTop" class="navbar-brand page-scroll" href="#page-top">
                <span class="brand-text">Turnaround<span class="extra-text">: Fixing New York City's Buses</span></span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#report-card"><h3>Report Card</h3></a>
                </li>
                <li>
                    <a class="page-scroll" href="#pick"><h3>Ride Along</h3></a>
                </li>
                <li>
                    <a id="clickResources" class="page-scroll" href="#resources"><h3>Resources</h3></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
