{% extends 'website/base.html' %}
{% load staticfiles %}


{% block title %}{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
{% endblock %}

{% block head_js_block %}
{% endblock %}
	
{% block body_block %}
	{% include "website/navbar.html" %}

  <!-- Intro Header -->
  <header class="intro">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h1 class="brand-heading">Fixing New York City's Buses<br /></h1>
                      <div class="clearfix"></div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6 margin-top-40">
                      <h3 class="brand-heading-small">Ride Along<br /></h3>
                      <p class="intro-text"><br />Ride along with three typical New York City bus riders and see the challenges they face and the solutions that would make their rides and lives better.</p>
                      <div class="clearfix"></div>                       
                      <a href="#pick" class="btn btn-circle page-scroll">
                          <i class="fa fa-angle-double-down animated"></i>
                      </a>
                  </div>
                  <div class="col-sm-6 margin-top-40">
                      <h3 class="brand-heading-small">Route Report Card<br /></h3>
                      <p class="intro-text"><br />See a high level report card on any bus route across New York City. </p>
                      <div class="clearfix"></div>                       
                      <a href="#report-card" class="btn btn-circle page-scroll">
                          <i class="fa fa-angle-double-down animated"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- Pick and Story Picture Book -->
  <section id="pick" class="text-center" data-slug="pick">
      <div class="picture-book">
        <div class="picture-book-img-wrap picture-book-bg">
          <img class="picture-book-img" src="{% static 'website/css/images/map-background.png' %}" />
        </div>
        <!-- Pick Picture Book Page-->
        <div class="picture-book-page">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="jumbotron">
            		<a id="first" class='personaClicks first page-scroll' href='#story'></a>
            		<a id="second" class='personaClicks second page-scroll' href='#story'></a>
            		<a id="third" class='personaClicks third page-scroll' href='#story'></a>
            		<img class="img-responsive" src="{% static 'website/css/images/A.jpg' %}" />
    		        <p>Click on a bus rider to get to know them before we take a ride.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Story Picture Book Page -->
        <div id="story" class="picture-book-page">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="jumbotron">
                  <div id="persona-carousel" class="carousel slide">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <img id="persona-image1" class="img-responsive" src="{% static 'website/css/images/B_2a.jpg' %}" />
                        <div id="persona-caption1" class="carousel-caption">
                          A nurse waits patiently for the bus...
                        </div>
                      </div>
                      <div class="item">
                        <img id="persona-image2" class="img-responsive" src="{% static 'website/css/images/B_2b.jpg' %}" />
                        <div id="persona-caption2" class="carousel-caption">
                          ..to take them to the hospital.
                        </div>
                      </div>
                    </div>

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#persona-carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#persona-carousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Controls -->
                    <a class="right carousel-control" href="#persona-carousel" role="button" data-slide="next">
                    </a>

                  </div>
                  <a id="keepScrolling" href="#ride" class="btn btn-primary btn-lg page-scroll hidden">Scroll down to continue the story</a> 
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- Ride Along Section -->
  <section id="ride" class="ride-section text-center" data-slug="ride">
      <div class="picture-book">
        <div class="picture-book-img-wrap picture-book-bg">
          <img class="picture-book-img" src="{% static 'website/css/images/long-map-background.png' %}" />
        </div>
        <!-- Ride Picture Book Page-->
        <div class="picture-book-page first-ride">
          <div class="full-width-card">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <img class="img-responsive" src="{% static 'website/css/images/C_1.jpg' %}" />
                </div>
                <div class="col-sm-1 arrows">
                  <i class="fa fa-arrow-circle-left fa-4x picture-book-position-text-vertical" aria-hidden="true"></i>
                </div>
                <div class="col-sm-5 ">
                  <p class="picture-book-position-text-vertical">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>                
              </div>
            </div>
          </div>
        </div>
        <!-- Ride Picture Book Page -->
        <div class="picture-book-page">
          <div class="full-width-card">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5 ">
                  <p class="picture-book-position-text-vertical">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>                
                <div class="col-sm-1 arrows">
                  <i class="fa fa-arrow-circle-right fa-4x picture-book-position-text-vertical" aria-hidden="true"></i>
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive" src="{% static 'website/css/images/C_2.jpg' %}" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Ride Picture Book Page-->
        <div class="picture-book-page">
          <div class="full-width-card">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <img class="img-responsive" src="{% static 'website/css/images/D_1.jpg' %}" />
                </div>
                <div class="col-sm-1 arrows">
                  <i class="fa fa-arrow-circle-left fa-4x picture-book-position-text-vertical" aria-hidden="true"></i>
                </div>
                <div class="col-sm-5">
                  <p class="picture-book-position-text-vertical">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>                
              </div>
            </div>
          </div>
        </div>
        <!-- Ride Picture Book Page -->
        <div class="picture-book-page">
          <div class="full-width-card">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <p class="picture-book-position-text-vertical">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>                
                <div class="col-sm-1 arrows">
                  <i class="fa fa-arrow-circle-right fa-4x picture-book-position-text-vertical" aria-hidden="true"></i>
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive" src="{% static 'website/css/images/D_2.jpg' %}" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Ride Picture Book Page-->
        <div class="picture-book-page">
          <div class="full-width-card">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <img class="img-responsive" src="{% static 'website/css/images/E_1.jpg' %}" />
                </div>
                <div class="col-sm-1 arrows">
                  <i class="fa fa-arrow-circle-left fa-4x picture-book-position-text-vertical" aria-hidden="true"></i>
                </div>
                <div class="col-sm-5">
                  <p class="picture-book-position-text-vertical">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>                
              </div>
            </div>
          </div>
        </div>
        <!-- Ride Picture Book Page -->
        <div class="picture-book-page">
          <div class="full-width-card">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <p class="picture-book-position-text-vertical">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>                
                <div class="col-sm-1 arrows">
                  <i class="fa fa-arrow-circle-right fa-4x picture-book-position-text-vertical" aria-hidden="true"></i>
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive" src="{% static 'website/css/images/E_2.jpg' %}" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Ride Picture Book Page-->
        <div class="picture-book-page">
          <div class="full-width-card">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <img class="img-responsive" src="{% static 'website/css/images/F_1.jpg' %}" />
                </div>
                <div class="col-sm-1 arrows">
                  <i class="fa fa-arrow-circle-left fa-4x picture-book-position-text-vertical" aria-hidden="true"></i>
                </div>
                <div class="col-sm-5">
                  <p class="picture-book-position-text-vertical">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>                
              </div>
            </div>
          </div>
        </div>
        <!-- Ride Picture Book Page -->
        <div class="picture-book-page">
          <div class="full-width-card">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <p class="picture-book-position-text-vertical">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>                
                <div class="col-sm-1 arrows">
                  <i class="fa fa-arrow-circle-right fa-4x picture-book-position-text-vertical" aria-hidden="true"></i>
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive" src="{% static 'website/css/images/F_2.jpg' %}" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Ride Picture Book Page-->
        <div class="picture-book-page">
          <div class="full-width-card">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <img class="img-responsive" src="{% static 'website/css/images/H_1.jpg' %}" />
                </div>
                <div class="col-sm-1 arrows">
                  <i class="fa fa-arrow-circle-left fa-4x picture-book-position-text-vertical" aria-hidden="true"></i>
                </div>
                <div class="col-sm-5">
                  <p class="picture-book-position-text-vertical">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>                
              </div>
            </div>
          </div>
        </div>
        <!-- Ride Picture Book Page -->
        <div class="picture-book-page">
          <div class="full-width-card">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <p class="picture-book-position-text-vertical">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>                
                <div class="col-sm-1 arrows">
                  <i class="fa fa-arrow-circle-right fa-4x picture-book-position-text-vertical" aria-hidden="true"></i>
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive" src="{% static 'website/css/images/H_2.jpg' %}" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </section>

  <!-- Report Card Section -->
  <section id="report-card" class="report-card-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1>Route B1 <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div id="route-map" class="route-map"></div>
          </div>                
          <div class="col-sm-3">
            <div class="report-card-card text-center">
              <h5>Speed</h5>
              <h2><span class="text-danger">4.5</span> <small>miles per hour</small></h2>
              <p class="text-uppercase report-card-text"><span class="text-danger"><strong>28% slower</strong></span> than the average bus in <strong>Brooklyn</strong> (5.8 mph)</p>
            </div>
            <div class="report-card-card text-center">
              <h5>Ridership</h5>
              <h2><span class="text-info">19,409</span> <small>average weekday riders</small></h2>
              <p class="text-uppercase report-card-text"><span class="text-info"><strong>3.2%</strong></span> of all bus riders in <strong>Brooklyn</strong> take the B1</p>

            </div>
          </div>
          <div class="col-sm-3">
            <div class="report-card-card text-center">
              <h5>Delay</h5>
              <h2><span class="text-success">1</span> <small>minute,</small> <span class="text-success">53</span> <small>seconds</small></h2>
              <p class="text-uppercase report-card-text"><span class="text-success"><strong>12% less delay</strong></span> than the average bus in <strong>Brooklyn</strong> (2 mintues, 7 seconds)</p>              
            </div>
            <div class="report-card-card text-center">
              <h5>Another indicator</h5>
              <h2><span class="text-info">Some Other</span> <small>indicator here</small></h2>
              <p class="text-uppercase report-card-text"><span class="text-info"><strong>That</strong></span> tells a comparison story?</p>

            </div>
          </div>
        </div>
      </div>
  </section>

  <section id="resources" class="intro resources-section">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h1 class="brand-heading">Get involved!<br /></h1>
                      <div class="clearfix"></div>
                      <p class="intro-text"><br />Some text, links and resources here.
                      	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <br /><br />
                      </p>
                      <div class="clearfix"></div>                       
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Footer -->
  <footer>
      <div class="container text-center">
      	  <p><a href="http://transitcenter.org/2016/07/20/fixing-new-yorks-buses/">Check out our Turnaround report!</a></p>
          <p>Copyright &copy; <a href="http://transitcenter.org/">TransitCenter</a> 2016</p>
      </div>
  </footer>

{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script type="text/javascript" src="{% static 'website/js/app.js' %}"></script>
<script type="text/javascript">
window.onload = app.init;
</script>
{% endblock %}


	
	

