{% load staticfiles %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tc-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img alt="TransitCenter" src="{% static 'analysis/css/images/tc-logo.png' %}" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="tc-navbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="modal" data-type="New Project" href="#tcProjectModal">New</a></li>
            <li><a href="#">Open...</a></li>
            <li><a href="#">Rename...</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Save</a></li>
            <li><a href="#">Make a Copy...</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Print</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visualizations <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="visMenu" data-vis="0" href="#">On Time Bus Performance by Route</a></li>
            <li><a class="visMenu" data-vis="1" href="#">Wait Time Probability by Route</a></li>
            <li><a class="visMenu" data-vis="2" href="#">Service Metrics by Route</a></li>          
            <li><a class="visMenu" data-vis="3" href="#">Service Metrics by Stop</a></li>
            <li><a class="visMenu" data-vis="4" href="#">Excess Wait Time by Route</a></li>
            <li><a class="visMenu" data-vis="5" href="#">Excess Wait Time by Stop</a></li>
          </ul>
        </li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analysis <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Analysis Tools Here...</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Publish <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Publish to the web...</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
        	<a href="{% url 'account_logout' %}">Logout</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	
	

