{% extends "account/base.html" %}

{% block title %}This account has not yet been activated. | TransitCenter{% endblock %}

{% block body_block %}
<ul id="background">
  <li></li>
</ul> 

<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        	<div class="jumbotron marginTop40">
				<h3 class="text-center">This account has not yet been activated.</h3>
				<h4 class="text-center">Please check the email you used when you signed up for your account and follow the link to activate your account.</h4>
			</div>
        </div>
    </div>
</div>
{% endblock %}
