{% extends "account/base.html" %}

{% load bootstrap_tags %}
{% load socialaccount %}


{% block title %}Sign In | TransitCenter{% endblock %}

{% block body_block %}
<ul id="background">
  <li></li>
</ul> 

<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="jumbotron marginTop40">
            <h3 class="text-center">TransitCenter NYC Bus Analytics</h3>
            <h4 class="text-center">Sign in with your TransitCenter Account</h4>
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form|as_bootstrap }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="clearfix"></div>
              <button class="btn btn-primary btn-block primaryAction" type="submit">Sign In</button>
              <a class="btn btn-default btn-block" href="{{ signup_url }}" role="button">Sign Up</a>
              <a class="secondaryAction pull-right" href="{% url 'account_reset_password' %}"><small>Forgot Password?</small></a>

            </form>
            <br />
            <h4 class="text-center">OR</h4>
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
	           	{% for provider in socialaccount_providers %}
	            	{% if provider.id == "openid" %}
	            		{% for brand in provider.get_brands %}
	            			{% if brand.name == "Google" %}
	            				<a class="btn btn-default btn-block button-googleLogin socialaccount_provider {{provider.id}} {{brand.id}}" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">Sign In with Google</a>
	            			{% elif brand.name == "Twitter" %}
	            				<a class="btn btn-default btn-block button-twitterLogin socialaccount_provider {{provider.id}} {{brand.id}}" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">Sign In with Twitter</a>
	            			{% endif %}
	            		{% endfor %}
	            	{% endif %}
	    			{% if provider.name == "Google" %}
	    				<a class="btn btn-default btn-block button-googleLogin socialaccount_provider {{provider.id}}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Sign In with Google</a>
	    			{% elif provider.name == "Twitter" %}
	    				<a class="btn btn-default btn-block button-twitterLogin  socialaccount_provider {{provider.id}}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Sign In with Twitter</a>
	    			{% endif %}

	            {% endfor %}
            {% endif %}
          </div>
        </div>
    </div>
</div>
{% endblock %}
