{% extends "account/base.html" %}

{% load bootstrap_tags %}
{% load socialaccount %}


{% block title %}Sign In | Turnaround{% endblock %}

{% block body_block %}
<ul id="backgroundDrawing">
  <li></li>
</ul> 

<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="jumbotron marginTop40">
            <h1 class="text-center">Turnaround:</h1>
            <h3 class="text-center">Fixing New York City's Buses</h3>
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form|as_bootstrap }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="clearfix"></div>
              <button class="btn btn-primary btn-block primaryAction" type="submit">Sign In</button>
            </form>
          </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function() { 
    $('#id_login').attr('placeholder', 'Username');
  });
</script>

{% endblock %}
