{% extends "account/base.html" %}

{% load i18n %}

{% block title %}Sign out from your TransitCenter Account. | TransitCenter{% endblock %}

{% block body_block %}
<ul id="background">
  <li></li>
</ul> 

<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        	<div class="jumbotron marginTop40">
				<h3 class="text-center">Sign out from your TransitCenter Account.</h3>
				<form method="post" action="{% url 'account_logout' %}">
				  {% csrf_token %}
				  {% if redirect_field_value %}
				  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
				  {% endif %}
				  <button class="btn btn-danger btn-block primaryAction" type="submit">{% trans 'Sign Out' %}</button>
				</form>
			</div>
        </div>
    </div>
</div>
{% endblock %}