{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap_tags %}

{% block title %}Reset your password. | TransitCenter" %}{% endblock %}

{% block body_block %}
<ul id="background">
  <li></li>
</ul> 

<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="jumbotron marginTop40">
                <h3 class="text-center">Reset your password.</h3>
                <h4>Enter your email address you used to sign up for an account and we'll email you a link you can use to reset your password.</h4>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    <button class="btn btn-primary btn-block" type="submit">Reset My Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
