{% extends "account/base.html" %}

{% load i18n %}

{% block title %}Set your new password. | TransitCenter{% endblock %}

{% block body_block %}
<ul id="background">
  <li></li>
</ul> 

<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="jumbotron marginTop40">
                <h3 class="text-center">Set your new password.</h3>
                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    <button class="btn btn-primary btn-block" type="submit">Set My New Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
