{% extends "account/base.html" %}

{% load i18n %}

{% block title %}Sign up now closed. | TransitCenter{% endblock %}

{% block body_block %}
<ul id="background">
  <li></li>
</ul> 

<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="jumbotron marginTop40">
                <h3 class="text-center">Sign up now closed.</h3>
                <h4 class="text-center">We're sorry, but sign up for TransitCenter Accounts is currently closed.</h4> 
            </div>
        </div>
    </div>
</div>
{% endblock %}
