{% extends "account/base.html" %}

{% load i18n %}

{% block title %}We sent you a link to verify your email address. | TransitCenter{% endblock %}

{% block body_block %}
<ul id="background">
  <li></li>
</ul> 

<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="jumbotron marginTop40">
                <h3 class="text-center">We sent you a link to verify your email address.</h3>
                <h4 class="text-center">Follow the link in the email we just sent you to verify your email address. Thanks!</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
